.editButtons,
.gameManageButtons {
	margin-right: 10px;
	text-align: left;
	/* border: solid 1px purple; */
	width: 800px;
	margin-left: 35px;
}

.editButtons > *,
.gameManageButtons > * {
	margin-top: 10px;
	margin-right: 10px;
	width: 100px !important;
}

.title {
	margin-left: 35px;
	text-align: left;
}
